In [1]:
import pandas as pd
import numpy as np
from multiprocessing import Pool
from functools import partial
import Preprocess_func as func
from tqdm import tqdm_notebook as tqdm
from datetime import date, timedelta

In [ ]:
df = pd.read_csv(r'D:\Customer_Value\data\st_trading.csv')

In [6]:
timedf = pd.DataFrame(df['MTH_DATE'].unique(), columns=['MTH_DATE'])
timedf

        MTH_DATE
0     2014-08-01
1     2017-10-23
2     2016-12-14
3     2016-12-15
4     2014-02-26
...          ...
1247  2014-01-16
1248  2014-01-17
1249  2014-01-20
1250  2014-01-21
1251  2014-01-02

[1252 rows x 1 columns]

In [2]:
reference_dict = {'AMT_B': {range(0, 1): 0,
range(1, 20000): 1,
 range(20000, 35000): 2,
 range(35000, 50000): 3,
 range(50000, 70000): 4,
 range(70000, 100000): 5,
 range(100000, 140000): 6,
 range(140000, 200000): 7,
 range(200000, 310000): 8,
 range(310000, 600000): 9},
'AMT_S': {range(0, 1): 0,
range(1, 22000): 1,
 range(22000, 38000): 2,
 range(38000, 55000): 3,
 range(55000, 80000): 4,
 range(80000, 110000): 5,
 range(110000, 150000): 6,
 range(150000, 230000): 7,
 range(230000, 360000): 8,
 range(360000, 700000): 9},
'ST_ASSET': {range(0, 1): 0,
range(1, 12000): 1,
 range(12000, 50000): 2,
 range(50000, 100000): 3,
 range(100000, 200000): 4,
 range(200000, 310000): 5,
 range(310000, 500000): 6,
 range(500000, 800000): 7,
 range(800000, 1350000): 8,
 range(1350000, 2800000): 9},
'MP_ASSET': {range(0, 1): 0,
range(1, 35000): 1,
 range(35000, 70000): 2,
 range(70000, 110000): 3,
 range(110000, 170000): 4,
 range(170000, 240000): 5,
 range(240000, 350000): 6,
 range(350000, 550000): 7,
 range(550000, 950000): 8,
 range(950000, 2150000): 9},
'SS_ASSET': {range(0, 1): 0,
range(1, 40000): 1,
 range(40000, 75000): 2,
 range(75000, 110000): 3,
 range(110000, 170000): 4,
 range(170000, 240000): 5,
 range(240000, 350000): 6,
 range(350000, 500000): 7,
 range(500000, 800000): 8,
 range(800000, 1650000): 9}}

In [5]:
df_list = [group[1] for group in df.groupby(df['S_IDNO'])]
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.trading_days, time_period=120, timedf=timedf, reference_dict=reference_dict), df_list), total=len(df_list)), 1):
            output_list.append(x)

HBox(children=(IntProgress(value=0, max=257881), HTML(value='')))

In [8]:
output_list1 = output_list[:120000]
output_list2 = output_list[120000:]

In [10]:
df = pd.concat(output_list1, axis=0)
df.to_csv(r'D:\Customer_Value\data\trading\st_trading_processed.csv', index=False)

In [6]:
df.to_csv(r'D:\Customer_Value\data\st_trading_processed.csv', index=False)

In [2]:
df = pd.read_csv(r'D:\Customer_Value\data\trading\st_trading_processed.csv')